.links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    padding: 24px;
    list-style: none;
    text-align: center;
}

li {
    margin-bottom: 5px;
}
