* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.coffee-input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.coffee-input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

.coffee-input-label {
    font-weight: bold;
    margin-right: 10px;
}

.coffee-input-value {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 24px;
}

.presets {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}

.preset-button {
    margin-bottom: 10px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
}

.preset-button.selected {
    background-color: #333;
    color: #fff;
}

.increment-decrement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.increment-button,
.decrement-button {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

.ratio-selection-section {
    margin-bottom: 20px;
}

#ratio-selection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
    text-align: center;
}

#ratio-selection input[type="radio"] {
    display: none;
}

#ratio-selection label {
    margin-bottom: 10px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 55px;
    height: 40px;
}

#ratio-selection input[type="radio"]:checked+label {
    background-color: #333;
    color: #fff;
}

.water-output-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.water-output-section label {
    display: inline-block;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
}

.water-output-value {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #444;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #f5f5f5;
    color: #444;
}


.timer-section {
    text-align: center;
}

#timer {
    font-size: 48px;
    margin-bottom: 10px;
}

#start-stop-button,
#reset-button {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

#start-stop-button:hover,
#reset-button:hover {
    background-color: #333;
    color: #fff;
}