* {
    margin: 0;
}

body {
    background-color: gray;
    overflow: hidden;
}

#canvas {
    background-color: black;
    position: absolute;
    width: 800px;
    height: 800px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 80px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    touch-action: none;
}

#ui-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
}

#numBoxesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

#numBoxes {
    margin-left: 5px;
}
