body {
    margin: 0;
    background: black;
}

#canvas {
    background: white;
    width: 1000px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
