/* Center the grid on the screen */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
}

/* Grid styling */
.grid {
    display: grid;
    grid-template-columns: repeat(7, 120px);
    /* grid-template-rows: repeat(6, 60px); */
    gap: 10px;
    margin: 0 auto;
}

/* Cell styling */
.cell {
    width: 120px;
    height: 60px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #d3d3d3;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 12px 48px;

    /* disallow text highlighting */
    user-select: none;
}

/* Hover effect for cells */
.cell:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Active cell styling */
.active {
    background-color: #a3e635;
    color: #1e1e1e;
}

/* Acquired state styling */
.acquired {
    background-color: #60a5fa;
    color: #ffffff;
}

.day {
    font-size: 10px;
    color: #6b7280;
    text-align: left;
    padding-top: 2px;
    padding-left: 2px;
}

.state {
    font-size: 16px;
    color: #111827;
    text-align: center;
    padding: 10px;
}

/* Header styling */
h1 {
    font-size: 36px;
    margin: 10px;
    color: #111827;
}

.buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.buttons div {
    position: relative;
    width: 100px;
    padding: 10px;
    text-align: center;
    user-select: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    transition: background-color 0.3s, transform 0.2s;
    border-style: solid;
    border-color: #000000;
}

/* Transition effect for state changes */
.cell {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}