/* https://fonts.google.com/specimen/Press+Start+2P */
@font-face {
    font-family: PressStart2P-Regular;
    src: url(assets/fonts/PressStart2P-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    max-width: 100%;
    height: auto;
    /* https://caniuse.com/?search=image-rendering */
    image-rendering: pixelated;

    background-color: rgb(40, 45, 52);
}
