@font-face {
    font-family: VT323-Regular;
    src: url(VT323-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 800px;
    max-width: 100%;
    /* https://caniuse.com/?search=image-rendering */
    image-rendering: pixelated;

    background-color: rgb(40, 45, 52);
}
