* {
    margin: 5px;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;

    max-width: 100%;
    height: auto;
    touch-action: none;
}