* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    /* border: 5px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    /* width: 512px; */
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;

}

img {
    display: none;
}
